.userDetailsForm {
  display: flex;
  flex-direction: column;
}

mat-checkbox {
  margin-right: 5px;
}

.registerButtons {
  margin-top: 10px;
}

.checkbox-section {
  display: flex;
  flex-direction: column;
}
