<div class="card" *ngIf="searchedUser | async as user">
  <img
    [src]="'http://localhost:5000/' + user.profilePic"
    class="card-img-top"
    alt="image"
  />
  <div class="card-body">
    <h2 class="card-title">{{ user.fullName }}, {{ user.dob | age }}</h2>
    <h4 class="card-text">
      My gender is: <b>{{ user.gender | gender }}</b>
    </h4>
    <p class="card-text">About me: {{ user.aboutMe }}</p>
    <p class="card-text">From: {{ user.location }}</p>
    <div class="lists">
      <div>
        <p>My interests are:</p>
        <ul class="interest-list">
          <li *ngFor="let interest of user.listInterests">
            {{ interest }}
          </li>
        </ul>
      </div>

      <div>
        <p>My turn ons are:</p>
        <ul class="interest-list">
          <li *ngFor="let interest of user.listTurnOns">
            {{ interest }}
          </li>
        </ul>
      </div>

      <div>
        <p>My turn offs are:</p>
        <ul class="interest-list">
          <li *ngFor="let interest of user.listTurnOffs">
            {{ interest }}
          </li>
        </ul>
      </div>
    </div>
    <button
      class="btn btn-danger"
      *ngIf="!isThisMe() && !isBlockedUser"
      (click)="blockUser(user.username)"
    >
      Block
    </button>

    <button
      class="btn btn-secondary"
      *ngIf="!isThisMe() && isBlockedUser"
      (click)="unblockUser(user.username)"
    >
      Unblock
    </button>
  </div>
</div>
